<!-- header.html -->


<nav class="navbar">
  <div class="nav_logo">
    <a href="../index.html"><img src="./Images/chalbo_logo_black.png" alt="logo"></a>
  </div>
  <div class="option">
    <a href="../index.html">Home</a>
    <a href="../index.html#about">About us</a>
    <!-- <a href="../Pages/">Call for papers</a> -->
    <a href="../index.html#Product">Products</a>
    <div class="dropdown">
      <a href="">Services <i class="fas fa-chevron-down"></i></a>
      <div class="dropdown-content">
        <a href="../Pages/">Web-Development</a>
        <a href="../Pages/">App-Development</a>
        <a href="../Pages/">Software maintainance</a>
      </div>
    </div>
    <a href="../Pages/">Clients</a>
    <a href="../Pages/">Contact</a>
  </div>
</nav>